* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 21px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;
  height: 48px;
  background-color: #008DCD;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s;
}
.button:hover {
  transform: scale(1.1);
}
input::-webkit-input-placeholder { color: #FFFFFF; }

.header {
  min-height: 277px+227px;
  max-width: 1440px;
  &_top{
    background: url("img/header_fon_mobile.jpg") no-repeat;
    background-size: cover;
    min-height: 277px;
    padding-top: 27px;
    &_content {
      display: flex;
      justify-content: space-between;
    }
  }
  &_text {
    margin-top: 21px;
  }
  &_h3{
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 8px;
  }
  &_p{
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 17px;
  }
}
.logo {
  width: 120px;
  height: 29px;
  display: block;
  background: url("img/logo_header_medium.png") no-repeat;
}
.menu {
  display: none;
  list-style-type: none;
}
.promo {
  background: #F7F7F7;
  min-height: 371px;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_logo {
    background: url("img/Vector.png") no-repeat;
    height: 112.46px;
    width: 278px;
    position: relative;
  }
  &__text {
    margin-top: 54.54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__h3 {
      font-size: 17px;
      line-height: 22px;
      text-align: center;
    }
    &__p {
      font-size: 11px;
      line-height: 14px;
      width: 278px;
    }
    &__button {
      margin-top: 12px;
    }
  }
  img {
    position: absolute;
  }
  .dpd {
    left: 5.9px;
    top: 37.49px;
  }
  .pony {
    left: 14.32px;
    top: 71.18px;
  }
  .spsr {
    left: 225.77px;
    top: 71.61px;
  }
  .bringo {
    top: 22.75px;
    left: 58.55px;
  }
  .cdek {
    top: 53.92px;
    left: 55.18px;
  }
  .bg2 {
    top: 29.48px;
    left: 101.09px;
  }
  .tnt {
    top: 14.32px;
    left: 173.54px;
  }
  .ups {
    top: 52.65px;
    left: 190.81px;
  }
  .city_express {
    top: 33.7px;
    left: 227.88px;
  }
}
.description {
  min-height: 1250px;
  padding: 27px 0;
  &__h3 {
    font-size: 26px;
    line-height: 31px;
    margin: 29.73px 0 5.82px 0;
  }
  &__p {
    font-size: 14px;
    line-height: 17px;
    width: 278px;
  }
  &__block {
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & img {
      width: 278px;
    }
  }
  &__block:last-of-type {
    margin-bottom: 0;
  }
}
.send {
  background-color: #F7F7F7;
  min-height: 161px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__h3 {
    font-size: 24px;
    line-height: 29px;
    width: 278px;
    margin: 23px 0 9px 0;
  }
}
.call {
  min-height: 283px;
  background-color: #008DCD;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__h3 {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 259px;
  }
  &__p {
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 11px 0 14px 0;
    width: 259px;
  }
  &__input {
    width: 280px;
    height: 48px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #008DCD;
    padding: 0 0 0 24px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 9px;
  }
  &__button {
    background: #FFCC00;
  }
  &__agree {
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 8px;
  }
  &__form {
    display: flex;
    margin: 6px 0 0 8px;
    width: 279px;

  }
  &__checkbox {
    width: 10px;
    height: 10px;
  }
}
.reviews {
  min-height: 324px;
  padding-top: 17px;
  &__h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 11px;
  }
}
.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__arr {
    width: 12px;
    height: 12px;
  }
  &__text {
    margin-left: 15px;
  }
  &__container {
    margin: 0 6px;
  }
  &__container__top {
    display: flex;
  }
  &__container__down {
    margin-top: 14px;
  }
  &__name {
    font-size: 26px;
    line-height: 31px;
  }
  &__company {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  &__info {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 3px;
  }
  &__info:last-of-type {
    margin-bottom: 0;
  }
  &__comment {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and(min-width: 375px) {
  .header_top {
    min-height: 324px;
  }
  .header_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header_h3 {
    text-align: center;
  }
  .header_button {
    margin-bottom: 21px;
  }
}

@media screen and(min-width: 375px) {
  .header_top {
    min-height: 368px;
  }
}

@media screen and(min-width: 768px) {
  .header {
    min-height: 445px;
    background: url("img/header_fon_medium.jpg") no-repeat;
    background-size: cover;
    padding: 29px 34px 0 34px;
    &_top {
      background: none;
      min-height: 0;
      padding: 0;
      align-items: center;
    }
    &_text {
      padding: 0;
      margin-top: 55px;
      align-items: flex-start;
    }
    &_h3 {
      color: #FFFFFF;
      font-size: 44px;
      line-height: 53px;
      margin-bottom: 18px;
      text-align: left;
      width: 54%;
    }
    &_p {
      color: #FFFFFF;
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 36px;
    }
  }
  .menu {
    display: flex;
    &_link {
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      transition: 0.5s;
    }
    &_link:hover{
      color: #008DCD;
      transform: scale(1.1);
    }
    &_list {
      margin-right: 26px;
    }
    &_list:last-of-type {
      margin-right: 0;
    }
    &_mobile {
      display: none;
    }
  }
}

@media screen and (min-width: 1400px){
  .header {
    min-height: 525px;
    background: url("img/header_fon_big.jpg") no-repeat;
    background-size: cover;
    padding-left: 140px;
    padding-right: 140px;
    &_text {
      margin-top: 88px;
    }
    &_h3 {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 22px;
      width: 100%;
    }
    &_p {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 35px;
    }
    &_button {
      width: 360px;
      height: 48px;
    }
  }
  .logo {
    width: 160px;
    height: 46px;
    background: url("img/logo_header_big.png") no-repeat;

  }
  .menu {
    &_link {
      font-size: 18px;
      line-height: 22px;
    }
    &_list {
      margin-right: 60px;
    }
  }
}