* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

a {
  text-decoration: none; }

.container {
  padding: 0 21px; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 278px;
  height: 48px;
  background-color: #008DCD;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s; }

.button:hover {
  transform: scale(1.1); }

input::-webkit-input-placeholder {
  color: #FFFFFF; }

.header {
  min-height: 504px;
  max-width: 1440px; }
  .header_top {
    background: url("img/header_fon_mobile.jpg") no-repeat;
    background-size: cover;
    min-height: 277px;
    padding-top: 27px; }
    .header_top_content {
      display: flex;
      justify-content: space-between; }
  .header_text {
    margin-top: 21px; }
  .header_h3 {
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 8px; }
  .header_p {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 17px; }

.logo {
  width: 120px;
  height: 29px;
  display: block;
  background: url("img/logo_header_medium.png") no-repeat; }

.menu {
  display: none;
  list-style-type: none; }

.promo {
  background: #F7F7F7;
  min-height: 371px;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .promo_logo {
    background: url("img/Vector.png") no-repeat;
    height: 112.46px;
    width: 278px;
    position: relative; }
  .promo__text {
    margin-top: 54.54px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .promo__text__h3 {
      font-size: 17px;
      line-height: 22px;
      text-align: center; }
    .promo__text__p {
      font-size: 11px;
      line-height: 14px;
      width: 278px; }
    .promo__text__button {
      margin-top: 12px; }
  .promo img {
    position: absolute; }
  .promo .dpd {
    left: 5.9px;
    top: 37.49px; }
  .promo .pony {
    left: 14.32px;
    top: 71.18px; }
  .promo .spsr {
    left: 225.77px;
    top: 71.61px; }
  .promo .bringo {
    top: 22.75px;
    left: 58.55px; }
  .promo .cdek {
    top: 53.92px;
    left: 55.18px; }
  .promo .bg2 {
    top: 29.48px;
    left: 101.09px; }
  .promo .tnt {
    top: 14.32px;
    left: 173.54px; }
  .promo .ups {
    top: 52.65px;
    left: 190.81px; }
  .promo .city_express {
    top: 33.7px;
    left: 227.88px; }

.description {
  min-height: 1250px;
  padding: 27px 0; }
  .description__h3 {
    font-size: 26px;
    line-height: 31px;
    margin: 29.73px 0 5.82px 0; }
  .description__p {
    font-size: 14px;
    line-height: 17px;
    width: 278px; }
  .description__block {
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .description__block img {
      width: 278px; }
  .description__block:last-of-type {
    margin-bottom: 0; }

.send {
  background-color: #F7F7F7;
  min-height: 161px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .send__h3 {
    font-size: 24px;
    line-height: 29px;
    width: 278px;
    margin: 23px 0 9px 0; }

.call {
  min-height: 283px;
  background-color: #008DCD;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .call__h3 {
    font-size: 28px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 259px; }
  .call__p {
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 11px 0 14px 0;
    width: 259px; }
  .call__input {
    width: 280px;
    height: 48px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #008DCD;
    padding: 0 0 0 24px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 9px; }
  .call__button {
    background: #FFCC00; }
  .call__agree {
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 8px; }
  .call__form {
    display: flex;
    margin: 6px 0 0 8px;
    width: 279px; }
  .call__checkbox {
    width: 10px;
    height: 10px; }

.reviews {
  min-height: 324px;
  padding-top: 17px; }
  .reviews__h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 11px; }

.review {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .review__arr {
    width: 12px;
    height: 12px; }
  .review__text {
    margin-left: 15px; }
  .review__container {
    margin: 0 6px; }
  .review__container__top {
    display: flex; }
  .review__container__down {
    margin-top: 14px; }
  .review__name {
    font-size: 26px;
    line-height: 31px; }
  .review__company {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px; }
  .review__info {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 3px; }
  .review__info:last-of-type {
    margin-bottom: 0; }
  .review__comment {
    font-size: 12px;
    line-height: 14px; }

@media screen and (min-width: 375px) {
  .header_top {
    min-height: 324px; }

  .header_text {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .header_h3 {
    text-align: center; }

  .header_button {
    margin-bottom: 21px; } }
@media screen and (min-width: 375px) {
  .header_top {
    min-height: 368px; } }
@media screen and (min-width: 768px) {
  .header {
    min-height: 445px;
    background: url("img/header_fon_medium.jpg") no-repeat;
    background-size: cover;
    padding: 29px 34px 0 34px; }
    .header_top {
      background: none;
      min-height: 0;
      padding: 0;
      align-items: center; }
    .header_text {
      padding: 0;
      margin-top: 55px;
      align-items: flex-start; }
    .header_h3 {
      color: #FFFFFF;
      font-size: 44px;
      line-height: 53px;
      margin-bottom: 18px;
      text-align: left;
      width: 54%; }
    .header_p {
      color: #FFFFFF;
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 36px; }

  .menu {
    display: flex; }
    .menu_link {
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      transition: 0.5s; }
    .menu_link:hover {
      color: #008DCD;
      transform: scale(1.1); }
    .menu_list {
      margin-right: 26px; }
    .menu_list:last-of-type {
      margin-right: 0; }
    .menu_mobile {
      display: none; } }
@media screen and (min-width: 1400px) {
  .header {
    min-height: 525px;
    background: url("img/header_fon_big.jpg") no-repeat;
    background-size: cover;
    padding-left: 140px;
    padding-right: 140px; }
    .header_text {
      margin-top: 88px; }
    .header_h3 {
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 22px;
      width: 100%; }
    .header_p {
      font-size: 36px;
      line-height: 43px;
      margin-bottom: 35px; }
    .header_button {
      width: 360px;
      height: 48px; }

  .logo {
    width: 160px;
    height: 46px;
    background: url("img/logo_header_big.png") no-repeat; }

  .menu_link {
    font-size: 18px;
    line-height: 22px; }
  .menu_list {
    margin-right: 60px; } }

/*# sourceMappingURL=style_2.css.map */
